/*@font-face {
    font-family: 'DINRoundPro';
    src: url('../f/DINRoundPro/DINRoundPro-Black.eot');
    src: local('DINRoundPro-Black'),
        url('../f/DINRoundPro/DINRoundPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../f/DINRoundPro/DINRoundPro-Black.woff2') format('woff2'),
        url('../f/DINRoundPro/DINRoundPro-Black.woff') format('woff'),
        url('../f/DINRoundPro/DINRoundPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}*/

@font-face {
    font-family: 'DINRoundPro';
    src: url('../assets/f/DINRoundPro/DINRoundPro-Medi.eot');
    src: local('DINRoundPro-Medi'),
        /*url('../f/DINRoundPro/DINRoundPro-Medi.eot?#iefix') format('embedded-opentype'),*/
        url('../assets/f/DINRoundPro/DINRoundPro-Medi.woff2') format('woff2'),
        url('../assets/f/DINRoundPro/DINRoundPro-Medi.woff') format('woff'),
        url('../assets/f/DINRoundPro/DINRoundPro-Medi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DINRoundPro';
    src: url('../assets/f/DINRoundPro/DINRoundPro-Light.eot');
    src: local('DINRoundPro-Light'),
        /*url('../f/DINRoundPro/DINRoundPro-Light.eot?#iefix') format('embedded-opentype'),*/
        url('../assets/f/DINRoundPro/DINRoundPro-Light.woff2') format('woff2'),
        url('../assets/f/DINRoundPro/DINRoundPro-Light.woff') format('woff'),
        url('../assets/f/DINRoundPro/DINRoundPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINRoundPro';
    src: url('../assets/f/DINRoundPro/DINRoundPro.eot');
    src: local('DINRoundPro'),
        /*url('../f/DINRoundPro/DINRoundPro.eot?#iefix') format('embedded-opentype'),*/
        url('../assets/f/DINRoundPro/DINRoundPro.woff2') format('woff2'),
        url('../assets/f/DINRoundPro/DINRoundPro.woff') format('woff'),
        url('../assets/f/DINRoundPro/DINRoundPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRoundPro';
    src: url('../assets/f/DINRoundPro/DINRoundPro-Bold.eot');
    src: local('DINRoundPro-Bold'),
        /*url('../f/DINRoundPro/DINRoundPro-Bold.eot?#iefix') format('embedded-opentype'),*/
        url('../assets/f/DINRoundPro/DINRoundPro-Bold.woff2') format('woff2'),
        url('../assets/f/DINRoundPro/DINRoundPro-Bold.woff') format('woff'),
        url('../assets/f/DINRoundPro/DINRoundPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

